@import "_nullstyle";
@import "_fonts";

$line: #bfc7ce;
$dark: #0c1923;
$tow: #64717b;
$tob: #b7bcbf;
$bbg: #f2f7fc;
$white: #ffffff;

body {
   font-family: "SF Pro Display", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: $tow;
}
.container {
   max-width: 1160px;
   margin: 0px auto;
}
