@import "_nullstyle";
@import "_fonts";

$line: #bfc7ce;
$dark: #0c1923;
$tow: #64717b;
$tob: #b7bcbf;
$bbg: #f2f7fc;
$white: #ffffff;

h1 {
   font-weight: 600;
   font-size: 40px;
   line-height: 150%;
   color: $dark;
   .mrgn {
      margin-left: -37px;
   }

   span {
      &.white-bg {
         &::before {
            background: #fff;
         }
         &::after {
            background: #fff;
         }
      }
      position: relative;
      display: inline-block;
      padding: 0px 37px;
      background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
      color: $white;
      &::before {
         position: absolute;
         content: "";
         height: 67px;
         width: 37px;
         background: $bbg;
         left: -2px;
         clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
      }
      &::after {
         position: absolute;
         content: "";
         height: 67px;
         width: 37px;
         background: $bbg;
         right: -2px;
         clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
      }
   }
}
h2 {
   margin: 0px 0px 60px 0px;
   font-weight: 600;
   font-size: 44px;
   line-height: 150%;
   color: $dark;
   .mrgn {
      margin-left: -37px;
   }
   span {
      &.white-bg {
         &::before {
            background: #fff;
         }
         &::after {
            background: #fff;
         }
      }
      position: relative;
      display: inline-block;
      padding: 0px 37px;
      background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
      color: $white;
      &::before {
         position: absolute;
         content: "";
         height: 67px;
         width: 37px;
         background: $bbg;
         left: -2px;
         clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
      }
      &::after {
         position: absolute;
         content: "";
         height: 67px;
         width: 37px;
         background: $bbg;
         right: -2px;
         clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
      }
   }
}
a {
   color: $tow;
   transition: 0.2s;
   &:hover {
      text-decoration: underline;
   }
}
body {
   font-family: "SF Pro Display", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: $tow;
   background: $white;
}
.container {
   max-width: 1160px;
   margin: 0px auto;
}
.butt {
   transition: 0.2s;
}
.butt-more {
   margin: 60px auto 0px auto;
   cursor: pointer;
   text-align: center;
   max-width: 222px;
   display: block;
   padding: 17px 22px;
   background: #0c1923;
   color: #fff;
   border-radius: 5px;
   transition: 0.2s;
   &:hover {
      background: #15466f;
   }
   &.active {
      display: none;
   }
}
.butt-more-close {
   display: none;
   &.active {
      display: block;
   }
}
ul li {
   list-style-type: disc;
   margin: 0px 0px 0px 20px;
}
.header {
   .callback {
      cursor: pointer;
      color: $dark;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 12px 20px;
      border: 1px solid $dark;
      border-radius: 5px;
      transition: 0.2s;
      &:hover {
         background: $dark;
         color: #fff;
      }
   }
   li {
      list-style-type: none;
      &.active {
         text-decoration: underline;
      }
      a {
         display: block;
         padding: 8px 0px;
         font-weight: 500;
         color: $dark;
         &:hover {
            text-decoration: underline;
         }
      }
   }
   ul {
      display: flex;
      gap: 50px;
      align-items: center;
      justify-content: space-between;
   }
   .logo {
      display: block;
      width: 200px;
   }
   .wrapp {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   background: $white;
   padding: 30px 0px;
}
.footer {
   .map {
      width: 100%;
      height: 456px;
      background: url("../img/map.jpg") no-repeat top center;
      background-size: cover;
   }
   li {
      list-style-type: none;
      margin: 0px 0px 15px 0px;
   }
   nav {
      li {
         a {
            color: #0c1923;
            font-weight: 500;
            font-size: 16px !important;
            line-height: 150%;
         }
      }
   }
   h4 {
      margin: 0px 0px 20px 0px;
      color: #0c1923;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
   }
   .callback {
      cursor: pointer;
      width: 157px;
      text-align: center;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 17px 0px;
      background: #0c1923;
      margin: 0px 0px 0px auto;
      border-radius: 5px;
      color: #fff;
      border: 1px solid #fff;
      transition: 0.2s;
      &:hover {
         background: #fff;
         color: #0c1923;
         border: 1px solid #0c1923;
      }
   }
   .item {
      margin: 0px 0px 30px 0px;
   }
   p {
      margin: 0px 0px 25px 0px;
   }
   .icons {
      width: 223px;
      margin: 0px auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
         svg {
            fill: $dark;
            transition: 0.2s;
         }
         &:hover {
            svg {
               fill: #15466f;
            }
         }
      }
   }
   .copyright {
      margin: 40px 0px 0px 0px;
      p {
         margin: 0px 0px 0px 0px;
      }
      padding: 6px 0px;
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      background: #0c1923;
      .container {
         display: flex;
         justify-content: space-between;
      }
   }
   .row {
      border-bottom: 1px solid #bfc7ce;
      padding: 0px 0px 30px 0px;
      margin: 60px 0px 60px 0px;
   }
   .column {
      &.shish {
         width: 270px;
         margin-left: 70px;
         li {
            margin: 0px 0px 20px 0px;
         }
      }
      width: 250px;
      a {
         font-size: 14px;
      }
   }
   h3 {
      margin: 0px 0px 20px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: $dark;
   }
   .logo {
      display: block;
      width: 200px;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
   }
   margin: 50px 0px 0px 0px;
}
//main-page
.intro {
   .mrgn {
      margin-left: -37px;
   }
   span {
      position: relative;
      display: inline-block;
      padding: 0px 37px;
      background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
      color: $white;
      &::before {
         position: absolute;
         content: "";
         height: 60px;
         width: 37px;
         background: $bbg;
         left: -2px;
         clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
      }
      &::after {
         position: absolute;
         content: "";
         height: 60px;
         width: 37px;
         background: $bbg;
         right: -2px;
         clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
      }
   }
   h1 {
      max-width: 670px;
      margin: 0px 0px 37px 0px;
   }
   p {
      max-width: 660px;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
   }
   .wrapp {
      display: flex;
      justify-content: space-between;
   }
   padding: 100px 0px;
   background: $bbg;
}
.services {
   .tabs__content {
      display: none;
      &.is-active {
         display: block;
      }
   }
   .text {
      width: 100%;

      flex-grow: 1;
   }
   .butt {
      //width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .subtitle {
      width: 100%;
      margin: 20px 0px;
      font-style: italic;
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
   }
   .title {
      width: 100%;
      color: $dark;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
   }
   .item {
      display: flex;
      flex-direction: column;
      align-content: flex-end;
      //align-items: stretch;
      border: 1px solid #b6babd;
      box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
      padding: 40px 30px;
      margin: 0px 0px 20px 0px;
      max-width: 560px;
      min-height: 380px;
   }
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 40px;
   }
   .buttons {
      margin: 0px 0px 60px 0px;
      li {
         list-style-type: none;
         &.butt05 {
            width: 20%;
            padding: 23px 10px;
         }
         width: 15%;
         position: relative;
         cursor: pointer;
         margin-left: -1px;
         padding: 23px 0px;
         background: #f2f7fc;
         border: 1px solid #bfc7ce;
         font-weight: 500;
         font-size: 18px;
         line-height: 150%;
         text-align: center;
         color: #64717b;

         &.is-active {
            background: $white;
            color: $dark;
            &::after {
               content: "";
               position: absolute;
               width: 20px;
               height: 20px;
               left: 50%;
               top: 100%;
               background: #fff;
               margin-left: -10px;
               border: 1px solid #bfc7ce;
               border-left: 1px solid #fff;
               border-top: 1px solid #fff;

               transform: rotate(45deg);
               overflow: hidden;
               margin-top: -10px;
            }
            &::before {
               content: "";
               position: absolute;
               left: 0px;
               top: 0;
               height: 7px;
               width: 100%;
               background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
            }
         }
      }
      ul {
         display: flex;
         justify-content: space-between;
      }
   }
   padding: 100px 0px;
}
.choice {
   .choice-butt {
      &.active {
         display: none;
      }
   }
   .info {
      overflow: hidden;
      max-height: 250px;
   }
   p {
      margin: 0px 0px 20px 0px;
   }
   .title {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      margin: 0px 0px 20px 0px;
      color: $dark;
   }

   .item {
      span {
         font-weight: 600;
         background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         font-size: 54px;
         line-height: 150%;
      }
      padding: 40px 30px;
      height: 479px;
      background: #ffffff;
      border: 1px solid #bfc7ce;
      max-width: 360px;
   }
   .wrapper {
      &.active {
         max-height: none;
      }
      display: flex;
      gap: 40px;
      flex-wrap: wrap;
      overflow: hidden;
      max-height: 480px;
   }
   h2 {
      font-size: 43px;
   }
   background: #f2f7fc;
   padding: 100px 0px;
}
.benefits {
   .benefits-butt {
      &.active {
         display: none;
      }
   }
   .title {
      margin: 30px 0px 20px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #0c1923;
   }
   .text {
      padding: 40px 25px 10px 30px;
   }
   .item {
      border: 1px solid #bfc7ce;
      margin: 0px 0px 20px 0px;
      width: 560px;
      height: 286px;
      img {
         width: 560px;
         height: 286px;
         object-fit: cover;
      }
   }
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      max-height: 640px;
      overflow: hidden;
      &.active {
         max-height: none;
      }
   }
   padding: 100px 0px;
}
.recommendations {
   .container {
      position: relative;
   }
   .navig {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #64717b;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      width: 227px;
      height: 42px;
      position: absolute;
      right: 0px;
      top: 50px;
      .sp-prev {
         position: relative;
         top: 0;
         left: auto;
         width: 42px;
         height: 42px;
         margin: 0px 0px 0px 0px;
         background-image: url("../img/swiper-arrow.svg");
         background-size: 42px 42px;
      }
      .sp-next {
         position: relative;
         top: 0;
         width: 42px;
         height: 42px;
         margin: 0px 0px 0px 0px;
         background-image: url("../img/swiper-arrow.svg");
         transform: rotate(180deg);
         background-size: 42px 42px;
      }
   }
   .butt {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   blockquote {
      display: block;
      flex-grow: 1;
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
   }
   .info {
      max-width: 630px;
      display: flex;
      flex-direction: column;
   }
   .swiper-pagination {
      position: relative;
      text-align: left;
   }
   h3 {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #0c1923;
      margin: 0px 0px 20px 0px;
   }
   .swiper-container {
      border: 1px solid #bfc7ce;
   }
   .wrapper {
      padding: 40px 145px 40px 100px;
      display: flex;
      justify-content: space-between;
      background: #ffffff;
   }
   .img {
      img {
         width: 156px;
         height: 220px;
         object-fit: cover;
      }
   }

   padding: 100px 0px;
   background: #f2f7fc;
}
.countries {
   h2 {
      max-width: 400px;
   }
   p {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #8e9194;
      max-width: 660px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
   }
   padding: 100px 0px;
}
.aboutus {
   .butt {
      align-self: start;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      padding: 17px 22px;
      background: #0c1923;
      border-radius: 5px;
      &:hover {
         background: #15466f;
         text-decoration: none;
      }
   }
   p {
      flex-grow: 1;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #64717b;
   }
   h3 {
      margin: 0px 0px 30px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* identical to box height, or 42px */

      /* dark */

      color: #0c1923;
   }
   .info {
      max-width: 503px;
      display: flex;
      flex-direction: column;
   }
   .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      img {
         width: 307px;
      }
      min-width: 360px;
      height: 225px;

      background: linear-gradient(90.71deg, #e8eff7 7.27%, #cfeaff 97.55%);
      border-radius: 20px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
   }
   .container {
      background: #f2f7fc;
      padding: 100px;
   }
   padding: 100px 0px 50px 0px;
}
.start {
   .butt {
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #0c1923;
      padding: 17px 22px;
      background: #ffffff;
      border-radius: 5px;
      &:hover {
         color: $white;
         background: #0c1923;
      }
   }
   .text {
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      color: #ffffff;
   }
   .wrapper {
      background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 47.45%, #15466f 94.26%);
      padding: 60px 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   padding: 50px 0px;
}
//onas-page
.intro-onas {
   .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 230px;
   }
   background: #f2f7fc url("../img/onas-bg.svg") no-repeat;
   background-position-x: right;
   background-size: contain;
   padding: 75px 0px;
}
.about-company {
   li {
      list-style-type: none;
      position: relative;
      padding: 0px 0px 0px 48px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: #0c1923;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 0;
         width: 38px;
         height: 25.5px;
         background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
         clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
      }
   }
   ul {
      margin: 40px 0px 0px 0px;
      display: flex;
      flex-direction: column;
      gap: 25px;
   }
   p {
      margin: 0px 0px 20px 0px;
   }
   h2 {
      margin: 0px 0px 30px 0px;
   }
   .info {
      max-width: 460px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 40px;
   }

   padding: 100px 0px;
}
.license {
   h2 {
      margin: 0px 0px 30px 0px;
   }
   .signature {
      margin: 30px 0px 0px 0px;
      width: 222px;
      height: 65px;
      background: url("../img/signature.png") no-repeat;
   }
   .img {
      min-width: 640px;
      text-align: center;
   }
   .info {
      max-width: 460px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
   }
   background: url("../img/lic-bg.svg") no-repeat;
   background-position-x: right;
   background-size: contain;

   padding: 100px 0px;
}
.management {
   span {
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
   }
   .title {
      margin: 40px 0px 0px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      color: #0c1923;
   }
   .item {
      text-align: center;
   }
   .wrapper {
      display: flex;
      gap: 40px;
   }
   h2 {
      margin: 0px 0px 30px 0px;
   }
   p {
      margin: 0px 0px 60px 0px;
      max-width: 890px;
      font-size: 18px;
   }
   background: #f2f7fc;
   padding: 100px 0px;
}
.form-questions {
   p {
      max-width: 280px;
   }
   h3 {
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      /* identical to box height, or 36px */

      color: #ffffff;
   }
   h2 {
      margin: 0px 0px 30px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* identical to box height, or 42px */

      color: #ffffff;
   }
   .wrapper {
      justify-content: space-between;
      display: flex;
      align-items: center;
      background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 47.45%, #15466f 94.26%);
      padding: 83px 100px;
   }
   padding: 100px 0px 50px 0px;
}
//blog-page
.intro-blog {
   h1 {
   }
   .container {
      display: flex;
      align-items: center;
      height: 234px;
      justify-content: center;
   }
   background: url("../img/blog-bg.svg") no-repeat center center;
   background-size: cover;
}
.announcements {
   li {
      list-style-type: none;
      margin: 0px 0px 0px 0px;
   }
   .pag {
      margin: 40px 0px 0px 0px;
      li {
         list-style-type: none;
         &:hover,
         &.active {
            background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 97.55%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
         }
      }

      a {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
         /* identical to box height, or 117% */

         /* text on white */

         color: #64717b;
      }
      ul {
         display: flex;
         gap: 20px;
         justify-content: center;
      }
   }
   .img {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         right: 13px;
         top: 13px;
         width: 75px;
         height: 11px;
         background: url("../img/logo-VL.svg") no-repeat;
      }
      max-height: 200px;
      img {
         width: 100%;
         height: 200px;
         object-fit: cover;
      }
   }
   .page-nav {
      text-align: right;
      margin: 0px 0px 20px 0px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      span {
         display: inline-block;
         margin: 0px 20px;
      }
      a {
         display: flex;
         align-items: center;
      }

      //padding: 0px 35px 0px 0px;
   }
   .row {
      border-top: 1px solid #bfc7ce;
      display: flex;
      justify-content: space-between;
      padding: 40px 0px 0px 0px;
      .time {
         display: flex;
         gap: 10px;
         align-items: center;
      }
   }
   .text {
      flex-grow: 1;

      p {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -moz-box;
         display: -webkit-box;
         -webkit-line-clamp: 6;
         -webkit-box-orient: vertical;
         line-clamp: 6;
         box-orient: vertical;
      }
   }
   h3 {
      margin: 0px 0px 20px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      /* or 30px */

      color: #0c1923;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -moz-box;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      line-clamp: 4;
      box-orient: vertical;
   }
   .info {
      display: flex;
      flex-direction: column;
      padding: 30px;
      height: 450px;
   }
   .item {
      border: 1px solid #bfc7ce;
      width: 360px;
      height: 648px;
      margin: 0px 0px 20px 0px;
      &:hover {
         //border: 1px solid #15466f;
         background: #f2f7fc;
      }
   }
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
   }
   .tags {
      margin: 0px 0px 60px 0px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      a {
         &.active,
         &:hover {
            color: #fff;
            background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
         }
         font-weight: 500;
         font-size: 22px;
         line-height: 150%;
         /* identical to box height, or 33px */

         text-align: center;

         /* dark */

         color: #0c1923;
         display: block;
         padding: 10px 25px;
         border: 1px solid #bfc7ce;
      }
   }
   .title {
      margin: 0px 0px 48px 0px;
      font-size: 18px;
   }
   a {
      text-decoration: none;
   }

   padding: 100px 0px;
}
//article-page
.blog-article {
   .content {
      li {
         margin-left: 20px;
         list-style-type: disc;
      }
      p {
         margin: 0px 0px 30px 0px;
      }
      h3 {
         margin: 0px;
         font-weight: 600;
         font-size: 24px;
         line-height: 150%;
         /* or 36px */

         /* dark */

         color: #0c1923;
      }
      h2 {
         margin: 30px 0px 30px 0px;
         font-weight: 600;
         font-size: 24px;
         line-height: 150%;
         /* or 36px */

         /* dark */

         color: #0c1923;
      }
   }
   .table-of-contents {
      span {
         margin: 0px 0px 30px 0px;
         display: block;
         font-weight: 500;
         font-size: 20px;
         line-height: 150%;
         /* identical to box height, or 30px */

         /* dark */

         color: #0c1923;
      }
      min-width: 360px;
      li {
         list-style-type: none;
         margin: 0px 0px 20px 0px;
         a {
            text-decoration-line: underline;
            font-weight: 600;
            color: #0871c7;
         }
      }
   }
   .wrapper {
      margin: 60px 0px 0px 0px;
      display: flex;
      gap: 40px;
   }
   .img {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         right: 43px;
         top: 43px;
         width: 243px;
         height: 35px;
         background: url("../img/logo-VL.svg") no-repeat;
      }
      img {
         object-fit: cover;
         height: 644px;
      }
   }
   .row {
      margin: 0px 0px 30px 0px;
      display: flex;
      gap: 68px;
      .time {
         display: flex;
         gap: 10px;
         align-items: center;
      }
   }
   .bread-crumbs {
      li {
         list-style-type: none;
         margin: 0px 0px 0px 0px;
      }
      ul {
         display: flex;
         align-items: center;
         gap: 10px;
         a {
            display: block;
         }
      }
   }
   h1 {
      margin: 30px 0px 60px 0px;
      font-size: 44px;
   }
   padding: 60px 0px;
}
//regiastration-page
.intro-registration {
   .img {
      margin: 20px 0px 0px 0px;
   }
   .buttons {
      display: flex;
      gap: 20px;
   }
   .video {
      cursor: pointer;
      display: inline-block;
   }
   .butt {
      cursor: pointer;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      color: #ffffff;
      padding: 17px 22px;
      background: #0c1923;
      border-radius: 5px;
      display: inline-block;
   }
   span {
      margin-left: -35px;
   }
   .line {
      width: 1px;
      height: 100%;
      flex-grow: 0;
      background: #000;
      border-left: 1px solid #bfc7ce;
   }
   .row {
      margin: 40px 0px 40px 0px;
      display: flex;
      align-items: center;
      height: 60px;
      gap: 30px;
      justify-content: space-between;
   }
   .wrapper {
      display: flex;
      gap: 20px;
   }
   background: #f2f7fc;
   padding: 100px 0px;
}
.package-services {
   .head {
      text-align: center;
      justify-content: flex-end;
      .full {
         font-weight: 600;
         font-size: 14px;
         line-height: 150%;
         /* identical to box height, or 21px */

         /* dark */

         color: #0c1923;
         height: 37px;
         width: 200px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: url("../img/full.svg") no-repeat;
      }
      .premium {
         color: #fff;
         height: 37px;
         width: 209px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: url("../img/premium.svg") no-repeat;
      }
      .business {
         color: #fff;
         height: 37px;
         width: 253px;
         display: flex;
         align-items: center;
         justify-content: center;
         background: url("../img/business.svg") no-repeat;
      }
   }
   .title-js {
      cursor: pointer;
      font-weight: 500;
      font-size: 22px;
      line-height: 150%;
      color: #0c1923;
      width: 400px;
      &.is-active {
         background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
         background-clip: text;
         text-fill-color: transparent;
      }
   }
   .on {
      width: 36px;
      height: 36px;
      background: url("../img/on.svg") no-repeat;
   }
   .off {
      width: 36px;
      height: 36px;
      background: url("../img/off.svg") no-repeat;
   }
   .card {
      .butt {
         cursor: pointer;
         margin: 16px 0px 0px 0px;
         padding: 17px 22px;
         font-size: 14px;
         line-height: 17px;
         display: inline-block;
         color: #ffffff;
         background: #0c1923;
         border-radius: 5px;
      }
      p {
         margin: 0px 0px 20px 0px;
      }
      h4 {
         font-weight: 500;
         font-size: 24px;
         line-height: 150%;
         margin: 0px 0px 16px 0px;
         color: #0c1923;
      }
      li {
         position: relative;
         padding: 0px 0px 0px 0px;
         margin: 0px 0px 0px 20px;
         border-bottom: none;
         &::before {
            content: "";
            position: absolute;
            left: -13px;
            top: 11px;
            width: 4px;
            height: 4px;
            border-radius: 2px;
            background: #64717b;
         }
      }
      width: 495px;
      padding: 40px 30px;
      border: 1px solid #0c1923;
      background: #fff;
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 1;
      display: none;
      &.is-active {
         display: block;
      }
   }
   li {
      position: relative;
      border-bottom: 1px solid #bfc7ce;
      padding: 0px 110px 25px 0px;
      margin: 0px 0px 25px 0px;
      display: flex;
      justify-content: space-between;
      &.head {
         padding: 0px 0px 25px 0px;
         border-bottom: none;
      }
      &.footer {
         font-weight: 700;
         font-size: 32px;
         line-height: 150%;
         padding: 0px 66px 25px 0px;
         border-bottom: none;
         color: #0c1923;
         .title-js {
            width: 440px;
         }
      }
   }
   h2 {
      max-width: 685px;
   }
   padding: 100px 0px;
}
.services {
   &.services-usluga {
      .services-butt {
         &.active {
            display: none;
         }
      }
      .wrapper {
         max-height: 390px;
         overflow: hidden;
         &.active {
            max-height: none;
         }
      }
      .title {
         margin: 0px 0px 20px 0px;
      }
   }
   .dark {
      .butt,
      .title,
      .subtitle {
         color: #fff;
      }
      color: #fff;
      background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 97.55%);
      /* card shadow */

      box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
   }
}
.steps {
   ol > li {
      list-style-type: none;
      counter-increment: list;
   }
   ol > li:before {
      content: counter(list) "";
      position: absolute;
      left: 30px;
      top: 30px;
      font-style: italic;
      font-weight: 600;
      font-size: 44px;
      line-height: 150%;
      /* identical to box height, or 66px */

      text-transform: uppercase;

      color: #ffffff;
   }
   li {
      position: relative;
      border-bottom: 1px solid #fff;
      padding: 50px 0px 50px 244px;
      font-weight: 400;
      font-size: 20px;
      line-height: 150%;
      &:nth-last-child(1) {
         &::before {
            left: 0;
         }
         &::after {
            display: none;
         }
      }
      &::after {
         content: "0";
         position: absolute;
         left: 0;
         top: 30px;
         font-style: italic;
         font-weight: 600;
         font-size: 44px;
         line-height: 150%;
         /* identical to box height, or 66px */

         text-transform: uppercase;

         color: #ffffff;
      }
   }
   // ol {
   //    list-style-type: decimal-leading-zero;
   //    ::marker {
   //       padding: 0px 0px 0px 50px;
   //       font-style: italic;
   //       font-weight: 600;
   //       font-size: 44px;
   //       line-height: 150%;
   //       text-transform: uppercase;

   //       color: #ffffff;
   //    }
   // }
   h2 {
      margin: 0px 0px 60px -40px;
      color: #ffffff;
      span {
         &::before {
            background: #0c1923;
         }
         &::after {
            background: #0c1923;
         }
      }
   }
   background: #0c1923;
   padding: 100px 0px;
}
.anatomy {
   .wrapper {
      max-height: 790px;
      overflow: hidden;
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      &.active {
         max-height: none;
      }
   }
   .title {
      margin: 40px 0px 20px 0px;
      font-weight: 500;
      font-size: 24px;
      line-height: 150%;
      /* or 36px */

      /* dark */

      color: #0c1923;
   }
   .img {
      img {
         width: 260px;
         height: 367px;
         object-fit: cover;
      }
   }
   .item {
      width: 260px;
      height: 787px;
   }
   background: #f2f7fc;
   padding: 100px 0px;
}
.partners {
   .info {
      padding: 60px;
      flex-grow: 1;
   }
   .part01 {
      .img {
         align-self: end;
         margin-bottom: 38px;
      }
      h3 {
         color: #0c1923;
      }
      background: #f2f7fc;
   }
   .part02 {
      color: #b7bcbf;
      .img {
         text-align: center;
         margin-bottom: 88px;
      }
      h3 {
         color: #fff;
      }

      background: #0c1923;
   }
   .item {
      display: flex;
      flex-direction: column;
      h3 {
         margin: 0px 0px 20px 0px;
         font-weight: 600;
         font-size: 28px;
         line-height: 150%;
      }
      width: 560px;
      height: 752px;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      gap: 40px;
   }
   padding: 100px 0px 50px 0px;
}
.request {
   .info {
      max-width: 559px;
   }
   h3 {
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* or 42px */
      margin: 0px 0px 60px 0px;
      color: #ffffff;
   }
   .wrapper {
      padding: 100px;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 97.55%);
   }
   padding: 50px 0px 100px 0px;
}
.management-uslugi {
   h2 {
      margin: 0px 0px 60px 0px;
   }
   background: #ffffff;
}
.faq {
   h2 {
      margin: 0px 0px 30px 0px;
   }
   .answer-js {
      &.active {
         display: block;
      }
      display: none;
      list-style-type: none;
      padding: 0px 0px 30px 0px;
      border-bottom: 1px solid #bfc7ce;
   }
   .question-js {
      position: relative;
      &::before {
         content: "";
         position: absolute;
         right: 0;
         top: 40px;
         width: 30px;
         height: 30px;
         background: url("../img/faq.svg") no-repeat;
      }
      &.active {
         border-bottom: none;
         &::before {
            top: 52px;
            background: url("../img/faq-c.svg") no-repeat;
         }
      }
      cursor: pointer;
      border-bottom: 1px solid #bfc7ce;
      padding: 30px 50px 30px 0px;
      list-style-type: none;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* identical to box height, or 42px */

      /* dark */

      color: #0c1923;
   }
   padding: 100px 0px 50px 0px;
}
.quiz {
   .wr-4 {
      .inpt {
         min-width: 100%;
      }
      .wrapp {
         max-width: 60%;
      }
   }
   .wr-3 {
      .inpt {
         min-width: 50%;
      }
      .wrapp {
         max-width: 60%;
      }
   }
   .buttons {
      display: flex;
      gap: 20px;
   }
   .wrapp {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
   .text {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      /* or 24px */

      /* text on black */

      color: #b7bcbf;
   }
   .q-prev {
      margin: 20px 0px 0px 0px;
      cursor: pointer;
      color: #fff;
      //width: 190px;
      padding: 17px 22px;
      border: 1px solid #ffffff;
      //background: #ffffff;
      border-radius: 5px;
   }
   .q-next {
      margin: 20px 0px 0px 0px;
      cursor: pointer;
      color: #0c1923;
      //width: 190px;
      padding: 17px 22px;
      background: #ffffff;
      border-radius: 5px;
   }
   .title {
      margin: 30px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      /* identical to box height, or 30px */

      color: #ffffff;
   }
   .tel {
      input {
         width: 100%;
         color: #fff;
         padding: 10px 0px;
         border-bottom: 1px solid #fff;
         background-color: rgba(0, 0, 0, 0);
      }
   }
   .inpt {
      input {
      }
      label {
         margin-left: 10px;
      }
      min-width: 30%;
      margin: 0px 0px 12px 0px;
      display: flex;
      align-items: center;
   }
   .wr-1 {
      .info {
         max-width: 360px;
      }
      .quiz-form {
         color: #b7bcbf;
         max-width: 460px;
         display: flex;
         flex-direction: column;
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   h3 {
      margin: 0px 0px 20px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* or 42px */

      color: #ffffff;
   }
   .wrapper {
      height: 447px;
      padding: 60px 100px;
      background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 47.45%, #15466f 94.26%);
      &.wr-4,
      &.wr-6,
      &.wr-3 {
         background: url("../img/qwrqp.svg") no-repeat,
            linear-gradient(90.71deg, #0c1923 7.27%, #15466f 47.45%, #15466f 94.26%);
         //background-position-x: right;
         background-position-x: 90%;
         background-position-y: center;
      }
   }
   color: #b7bcbf;
   padding: 50px 0px 100px 0px;
}
//buhuchet-page
.buhuchet-intro {
   .info {
      width: 63%;
   }
   .wrapp {
      .item {
         border: 1px solid #b6babd;
         /* card shadow */

         box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
         padding: 40px 30px;
         max-width: 360px;
      }
      margin: 100px 0px 0px 0px;
      display: flex;
      gap: 40px;
      justify-content: space-between;
   }
   .row {
      gap: 10px;
   }
   .wrapper {
      gap: 0;
   }
   .img {
      width: 37%;
      height: 300px;
   }
   background: url("../img/buh-bg.svg") no-repeat #fff;
   background-position-x: calc(50% + 320px);
   background-position-y: top;
}
.select-package {
   .select {
      display: flex;
      flex-direction: column;
   }
   select {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      /* identical to box height, or 24px */

      /* text on white */

      color: #64717b;
      padding: 10px 15px;
      border: 1px solid #bfc7ce;
      border-radius: 5px;
   }
   input[type="submit"] {
      cursor: pointer;
      max-width: 150px;
      display: block;
      color: #fff;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      padding: 17px 22px;
      background: #0c1923;
      border-radius: 5px;
   }
   li {
      position: relative;
      padding: 0px 0px 0px 45px;
      list-style-type: none;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         margin-top: -13px;
         width: 25px;
         height: 26px;
         background: url("../img/no.svg") no-repeat;
      }
   }
   ul {
      max-width: 460px;
      display: flex;
      flex-direction: column;
      gap: 15px;
   }
   h4 {
      margin: 30px 0px 0px 0px;
      flex-grow: 1;
      font-weight: 500;
      font-size: 40px;
      line-height: 150%;
      /* identical to box height, or 60px */

      /* градиент */

      background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }
   h3 {
      margin: 0px 0px 30px 0px;
      font-weight: 500;
      font-size: 22px;
      line-height: 150%;
      /* identical to box height, or 33px */

      /* dark */

      color: #0c1923;
   }
   .wrapper {
      display: flex;
      justify-content: space-between;
      padding: 60px 100px;
      background: #ffffff;
      /* Line */

      border: 1px solid #bfc7ce;
      /* card shadow */

      box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
   }
   h2 {
      max-width: 675px;
   }
   background: #f2f7fc;
   padding: 100px 0px;
}
.consultation {
   .butt-consult {
      transition: 0.2s;
      cursor: pointer;
      margin: 60px auto 0px auto;
      display: table;
      padding: 17px 22px;
      background: #0c1923;
      border-radius: 5px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      /* identical to box height */

      color: #ffffff;
   }
   .item {
      background: #ffffff;
      border: 1px solid #b6babd;
      /* card shadow */

      box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
      width: 560px;
      padding: 40px 30px;
   }
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
   }
   padding: 100px 0px;
}
.benefits-actual {
   .info {
      background: #ffffff;
      /* Line */

      border: 1px solid #bfc7ce;
      /* card shadow */

      box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
      padding: 40px 30px;
   }
   .wrapper {
      justify-content: space-between;
      display: flex;
      gap: 40px;
   }
   li {
      position: relative;
      padding: 0px 0px 0px 45px;
      list-style-type: none;
      &::before {
         content: "";
         position: absolute;
         left: 0;
         top: 50%;
         margin-top: -13px;
         width: 25px;
         height: 26px;
         background: url("../img/no.svg") no-repeat;
      }
   }
   ul {
      max-width: 560px;
      display: flex;
      flex-direction: column;
      gap: 15px;
   }

   padding: 100px 0px;
}
.off-partners {
   li {
      color: #b7bcbf;
   }
   h3 {
      margin: 0px 0px 20px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* identical to box height, or 42px */

      color: #ffffff;
   }
   .wrapper {
      align-items: center;
      padding: 60px 95px 60px 60px;
      display: flex;
      justify-content: space-between;
      background: #0c1923;
   }
   padding: 100px 0px;
}
.request {
   &.buh {
      h3 {
         font-size: 24px;
      }
   }
}
.anatomy {
   &.buh {
      .item {
         height: 560px;
      }
      .wrapper {
         max-height: 490px;
         &.active {
            max-height: none;
         }
      }
   }
}
.steps {
   &.buh {
   }
}
.quiz {
   &.buh {
      .wr-1 {
         .inpt {
            min-width: 50%;
         }
      }
   }
}
//apostil-page
.apo-intro {
   .wrapp {
      .item {
         border: 1px solid #b6babd;
         /* card shadow */

         box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
         padding: 40px 30px;
         max-width: 360px;
      }
      margin: 50px 0px 0px 0px;
      display: flex;
      gap: 40px;
      justify-content: space-between;
   }
   .wrapper {
      align-items: center;
      gap: 130px;
      //justify-content: space-between;
   }
   .buttons {
      margin: 40px 0px 0px 0px;
   }
   padding: 50px 0px;
   background: #ffffff;
}
.apostil {
   p {
      margin: 0px 0px 20px 0px;
   }
   h3 {
      margin: 0px 0px 20px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* identical to box height, or 42px */

      color: #ffffff;
   }
   .wrapper {
      padding: 60px;
      background: url("../img/apo-img.svg") #0c1923 no-repeat;
      background-position-x: 95%;
      background-position-y: center;
      //background-size: 13%;
   }
   color: #b7bcbf;
   background: #fff;
   padding: 50px 0px 100px 0px;
}
.choise {
   .wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
   }
   .price {
      margin: 30px 0px 0px 0px;
      font-weight: 600;
      font-size: 28px;
      line-height: 150%;
      /* identical to box height, or 42px */
      flex: 1;
      text-align: center;

      /* градиент */

      background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
   }
   .butt {
      //display: table;
      cursor: pointer;
      padding: 17px 22px;
      background: #0c1923;
      color: #ffffff;
      border-radius: 5px;
      &:hover {
         background: #15466f;
      }
   }
   h3 {
      margin: 0px 0px 30px 0px;
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      /* identical to box height, or 30px */

      text-align: center;

      color: #0c1923;
   }
   .item {
      display: flex;
      flex-direction: column;
      align-items: center;

      background: #ffffff;
      padding: 40px 30px;
      border: 1px solid #bfc7ce;
      width: 360px;
      height: 450px;
   }
   background: #f2f7fc;
   padding: 100px 0px;
}
