@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Medium.eot");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("../font/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Medium.woff2") format("woff2"), url("../font/SFProDisplay-Medium.woff") format("woff"), url("../font/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Heavy.eot");
  src: local("SF Pro Display Heavy"), local("SFProDisplay-Heavy"), url("../font/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Heavy.woff2") format("woff2"), url("../font/SFProDisplay-Heavy.woff") format("woff"), url("../font/SFProDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-UltralightItalic.eot");
  src: local("SF Pro Display UltralightItalic"), local("SFProDisplay-UltralightItalic"), url("../font/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../font/SFProDisplay-UltralightItalic.woff") format("woff"), url("../font/SFProDisplay-UltralightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-RegularItalic.eot");
  src: local("SF Pro Display Regular Italic"), local("SFProDisplay-RegularItalic"), url("../font/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../font/SFProDisplay-RegularItalic.woff") format("woff"), url("../font/SFProDisplay-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Thin.eot");
  src: local("SF Pro Display Thin"), local("SFProDisplay-Thin"), url("../font/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Thin.woff2") format("woff2"), url("../font/SFProDisplay-Thin.woff") format("woff"), url("../font/SFProDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Light.eot");
  src: local("SF Pro Display Light"), local("SFProDisplay-Light"), url("../font/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Light.woff2") format("woff2"), url("../font/SFProDisplay-Light.woff") format("woff"), url("../font/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-BlackItalic.eot");
  src: local("SF Pro Display Black Italic"), local("SFProDisplay-BlackItalic"), url("../font/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../font/SFProDisplay-BlackItalic.woff") format("woff"), url("../font/SFProDisplay-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Bold.eot");
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"), url("../font/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Bold.woff2") format("woff2"), url("../font/SFProDisplay-Bold.woff") format("woff"), url("../font/SFProDisplay-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Black.eot");
  src: local("SF Pro Display Black"), local("SFProDisplay-Black"), url("../font/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Black.woff2") format("woff2"), url("../font/SFProDisplay-Black.woff") format("woff"), url("../font/SFProDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-SemiboldItalic.eot");
  src: local("SF Pro Display SemiboldItalic"), local("SFProDisplay-SemiboldItalic"), url("../font/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../font/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../font/SFProDisplay-SemiboldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Ultralight.eot");
  src: local("SF Pro Display Ultralight"), local("SFProDisplay-Ultralight"), url("../font/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Ultralight.woff2") format("woff2"), url("../font/SFProDisplay-Ultralight.woff") format("woff"), url("../font/SFProDisplay-Ultralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-LightItalic.eot");
  src: local("SF Pro Display LightItalic"), local("SFProDisplay-LightItalic"), url("../font/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-LightItalic.woff2") format("woff2"), url("../font/SFProDisplay-LightItalic.woff") format("woff"), url("../font/SFProDisplay-LightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-ThinItalic.eot");
  src: local("SF Pro Display ThinItalic"), local("SFProDisplay-ThinItalic"), url("../font/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../font/SFProDisplay-ThinItalic.woff") format("woff"), url("../font/SFProDisplay-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-MediumItalic.eot");
  src: local("SF Pro Display MediumItalic"), local("SFProDisplay-MediumItalic"), url("../font/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../font/SFProDisplay-MediumItalic.woff") format("woff"), url("../font/SFProDisplay-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Semibold.eot");
  src: local("SF Pro Display Semibold"), local("SFProDisplay-Semibold"), url("../font/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Semibold.woff2") format("woff2"), url("../font/SFProDisplay-Semibold.woff") format("woff"), url("../font/SFProDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-HeavyItalic.eot");
  src: local("SF Pro Display HeavyItalic"), local("SFProDisplay-HeavyItalic"), url("../font/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../font/SFProDisplay-HeavyItalic.woff") format("woff"), url("../font/SFProDisplay-HeavyItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-Regular.eot");
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"), url("../font/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-Regular.woff2") format("woff2"), url("../font/SFProDisplay-Regular.woff") format("woff"), url("../font/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../font/SFProDisplay-BoldItalic.eot");
  src: local("SF Pro Display BoldItalic"), local("SFProDisplay-BoldItalic"), url("../font/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../font/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../font/SFProDisplay-BoldItalic.woff") format("woff"), url("../font/SFProDisplay-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

h1 {
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;
  color: #0c1923;
}

h1 .mrgn {
  margin-left: -37px;
}

h1 span {
  position: relative;
  display: inline-block;
  padding: 0px 37px;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
  color: #ffffff;
}

h1 span.white-bg::before {
  background: #fff;
}

h1 span.white-bg::after {
  background: #fff;
}

h1 span::before {
  position: absolute;
  content: "";
  height: 67px;
  width: 37px;
  background: #f2f7fc;
  left: -2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
}

h1 span::after {
  position: absolute;
  content: "";
  height: 67px;
  width: 37px;
  background: #f2f7fc;
  right: -2px;
  -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
}

h2 {
  margin: 0px 0px 60px 0px;
  font-weight: 600;
  font-size: 44px;
  line-height: 150%;
  color: #0c1923;
}

h2 .mrgn {
  margin-left: -37px;
}

h2 span {
  position: relative;
  display: inline-block;
  padding: 0px 37px;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
  color: #ffffff;
}

h2 span.white-bg::before {
  background: #fff;
}

h2 span.white-bg::after {
  background: #fff;
}

h2 span::before {
  position: absolute;
  content: "";
  height: 67px;
  width: 37px;
  background: #f2f7fc;
  left: -2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
}

h2 span::after {
  position: absolute;
  content: "";
  height: 67px;
  width: 37px;
  background: #f2f7fc;
  right: -2px;
  -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
}

a {
  color: #64717b;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "SF Pro Display", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #64717b;
  background: #ffffff;
}

.container {
  max-width: 1160px;
  margin: 0px auto;
}

.butt {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.butt-more {
  margin: 60px auto 0px auto;
  cursor: pointer;
  text-align: center;
  max-width: 222px;
  display: block;
  padding: 17px 22px;
  background: #0c1923;
  color: #fff;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.butt-more:hover {
  background: #15466f;
}

.header {
  background: #ffffff;
  padding: 30px 0px;
}

.header .callback {
  cursor: pointer;
  color: #0c1923;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 12px 20px;
  border: 1px solid #0c1923;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header .callback:hover {
  background: #0c1923;
  color: #fff;
}

.header li.active {
  text-decoration: underline;
}

.header li a {
  display: block;
  padding: 8px 0px;
  font-weight: 500;
  color: #0c1923;
}

.header li a:hover {
  text-decoration: underline;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  display: block;
  width: 200px;
}

.header .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  margin: 50px 0px 0px 0px;
}

.footer .map {
  width: 100%;
  height: 456px;
  background: url("../img/map.jpg") no-repeat top center;
  background-size: cover;
}

.footer li {
  margin: 0px 0px 15px 0px;
}

.footer nav li a {
  color: #0c1923;
  font-weight: 500;
  font-size: 16px !important;
  line-height: 150%;
}

.footer h4 {
  margin: 0px 0px 20px 0px;
  color: #0c1923;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.footer .callback {
  cursor: pointer;
  width: 157px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 17px 0px;
  background: #0c1923;
  margin: 0px 0px 0px auto;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .callback:hover {
  background: #fff;
  color: #0c1923;
  border: 1px solid #0c1923;
}

.footer .item {
  margin: 0px 0px 30px 0px;
}

.footer p {
  margin: 0px 0px 25px 0px;
}

.footer .icons {
  width: 223px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .icons a svg {
  fill: #0c1923;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.footer .icons a:hover svg {
  fill: #15466f;
}

.footer .copyright {
  margin: 40px 0px 0px 0px;
  padding: 6px 0px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  background: #0c1923;
}

.footer .copyright p {
  margin: 0px 0px 0px 0px;
}

.footer .copyright .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .row {
  border-bottom: 1px solid #bfc7ce;
  padding: 0px 0px 30px 0px;
  margin: 60px 0px 60px 0px;
}

.footer .column {
  width: 250px;
}

.footer .column.shish {
  width: 270px;
  margin-left: 70px;
}

.footer .column.shish li {
  margin: 0px 0px 20px 0px;
}

.footer .column a {
  font-size: 14px;
}

.footer h3 {
  margin: 0px 0px 20px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #0c1923;
}

.footer .logo {
  display: block;
  width: 200px;
}

.footer .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.intro {
  padding: 100px 0px;
  background: #f2f7fc;
}

.intro .mrgn {
  margin-left: -37px;
}

.intro span {
  position: relative;
  display: inline-block;
  padding: 0px 37px;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
  color: #ffffff;
}

.intro span::before {
  position: absolute;
  content: "";
  height: 60px;
  width: 37px;
  background: #f2f7fc;
  left: -2px;
  -webkit-clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 10% 100%, 0 100%);
}

.intro span::after {
  position: absolute;
  content: "";
  height: 60px;
  width: 37px;
  background: #f2f7fc;
  right: -2px;
  -webkit-clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(90% 0, 100% 0, 100% 100%, 0% 100%);
}

.intro h1 {
  max-width: 670px;
  margin: 0px 0px 37px 0px;
}

.intro p {
  max-width: 660px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.intro .wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services {
  padding: 100px 0px;
}

.services .tabs__content {
  display: none;
}

.services .tabs__content.is-active {
  display: block;
}

.services .text {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.services .butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services .subtitle {
  width: 100%;
  margin: 20px 0px;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.services .title {
  width: 100%;
  color: #0c1923;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.services .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  border: 1px solid #b6babd;
  -webkit-box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
          box-shadow: 2px 4px 30px rgba(21, 42, 59, 0.04);
  padding: 40px 30px;
  margin: 0px 0px 20px 0px;
  max-width: 560px;
  min-height: 380px;
}

.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.services .buttons {
  margin: 0px 0px 60px 0px;
}

.services .buttons li {
  width: 15%;
  position: relative;
  cursor: pointer;
  margin-left: -1px;
  padding: 23px 0px;
  background: #f2f7fc;
  border: 1px solid #bfc7ce;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #64717b;
}

.services .buttons li.butt05 {
  width: 20%;
  padding: 23px 10px;
}

.services .buttons li.is-active {
  background: #ffffff;
  color: #0c1923;
}

.services .buttons li.is-active::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 100%;
  background: #fff;
  margin-left: -10px;
  border: 1px solid #bfc7ce;
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  overflow: hidden;
  margin-top: -10px;
}

.services .buttons li.is-active::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0;
  height: 7px;
  width: 100%;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
}

.services .buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choice {
  background: #f2f7fc;
  padding: 100px 0px;
}

.choice .choice-butt.active {
  display: none;
}

.choice .info {
  overflow: hidden;
  max-height: 250px;
}

.choice p {
  margin: 0px 0px 20px 0px;
}

.choice .title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  margin: 0px 0px 20px 0px;
  color: #0c1923;
}

.choice .item {
  padding: 40px 30px;
  height: 479px;
  background: #ffffff;
  border: 1px solid #bfc7ce;
  max-width: 360px;
}

.choice .item span {
  font-weight: 600;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 54px;
  line-height: 150%;
}

.choice .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  max-height: 480px;
}

.choice .wrapper.active {
  max-height: none;
}

.choice h2 {
  font-size: 43px;
}

.benefits {
  padding: 100px 0px;
}

.benefits .benefits-butt.active {
  display: none;
}

.benefits .title {
  margin: 30px 0px 20px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #0c1923;
}

.benefits .text {
  padding: 40px 25px 10px 30px;
}

.benefits .item {
  border: 1px solid #bfc7ce;
  margin: 0px 0px 20px 0px;
  width: 560px;
  height: 286px;
}

.benefits .item img {
  width: 560px;
  height: 286px;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  max-height: 640px;
  overflow: hidden;
}

.benefits .wrapper.active {
  max-height: none;
}

.recommendations {
  padding: 100px 0px;
  background: #f2f7fc;
}

.recommendations .container {
  position: relative;
}

.recommendations .navig {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #64717b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 227px;
  height: 42px;
  position: absolute;
  right: 0px;
  top: 50px;
}

.recommendations .navig .swiper-button-prev {
  position: relative;
  top: 0;
  left: auto;
  width: 42px;
  height: 42px;
  margin: 0px 0px 0px 0px;
  background-image: url("../img/swiper-arrow.svg");
  background-size: 42px 42px;
}

.recommendations .navig .swiper-button-next {
  position: relative;
  top: 0;
  width: 42px;
  height: 42px;
  margin: 0px 0px 0px 0px;
  background-image: url("../img/swiper-arrow.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-size: 42px 42px;
}

.recommendations .butt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommendations blockquote {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.recommendations .info {
  max-width: 630px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommendations .swiper-pagination {
  position: relative;
  text-align: left;
}

.recommendations h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #0c1923;
  margin: 0px 0px 20px 0px;
}

.recommendations .swiper-container {
  border: 1px solid #bfc7ce;
}

.recommendations .wrapper {
  padding: 40px 145px 40px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
}

.recommendations .img img {
  width: 156px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

.countries {
  padding: 100px 0px;
}

.countries h2 {
  max-width: 400px;
}

.countries p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #8e9194;
  max-width: 660px;
}

.countries .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus {
  padding: 100px 0px 50px 0px;
}

.aboutus .butt {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  padding: 17px 22px;
  background: #0c1923;
  border-radius: 5px;
}

.aboutus .butt:hover {
  background: #15466f;
  text-decoration: none;
}

.aboutus p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #64717b;
}

.aboutus h3 {
  margin: 0px 0px 30px 0px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */
  /* dark */
  color: #0c1923;
}

.aboutus .info {
  max-width: 503px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboutus .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 360px;
  height: 225px;
  background: linear-gradient(90.71deg, #e8eff7 7.27%, #cfeaff 97.55%);
  border-radius: 20px;
}

.aboutus .logo img {
  width: 307px;
}

.aboutus .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutus .container {
  background: #f2f7fc;
  padding: 100px;
}

.start {
  padding: 50px 0px;
}

.start .butt {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #0c1923;
  padding: 17px 22px;
  background: #ffffff;
  border-radius: 5px;
}

.start .butt:hover {
  color: #ffffff;
  background: #0c1923;
}

.start .text {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #ffffff;
}

.start .wrapper {
  background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 47.45%, #15466f 94.26%);
  padding: 60px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-onas {
  background: #f2f7fc url("../img/onas-bg.svg") no-repeat;
  background-position-x: right;
  background-size: contain;
  padding: 75px 0px;
}

.intro-onas .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 230px;
}

.about-company {
  padding: 100px 0px;
}

.about-company li {
  position: relative;
  padding: 0px 0px 0px 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #0c1923;
}

.about-company li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 38px;
  height: 25.5px;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
          clip-path: polygon(50% 0%, 100% 0%, 50% 100%, 0% 100%);
}

.about-company ul {
  margin: 40px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}

.about-company p {
  margin: 0px 0px 20px 0px;
}

.about-company h2 {
  margin: 0px 0px 30px 0px;
}

.about-company .info {
  max-width: 460px;
}

.about-company .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}

.license {
  background: url("../img/lic-bg.svg") no-repeat;
  background-position-x: right;
  background-size: contain;
  padding: 100px 0px;
}

.license h2 {
  margin: 0px 0px 30px 0px;
}

.license .signature {
  margin: 30px 0px 0px 0px;
  width: 222px;
  height: 65px;
  background: url("../img/signature.png") no-repeat;
}

.license .img {
  min-width: 640px;
  text-align: center;
}

.license .info {
  max-width: 460px;
}

.license .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.management {
  background: #f2f7fc;
  padding: 100px 0px;
}

.management span {
  font-style: italic;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}

.management .title {
  margin: 40px 0px 0px 0px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #0c1923;
}

.management .item {
  text-align: center;
}

.management .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.management h2 {
  margin: 0px 0px 30px 0px;
}

.management p {
  margin: 0px 0px 60px 0px;
  max-width: 890px;
  font-size: 18px;
}

.form-questions {
  padding: 100px 0px 50px 0px;
}

.form-questions p {
  max-width: 280px;
}

.form-questions h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */
  color: #ffffff;
}

.form-questions h2 {
  margin: 0px 0px 30px 0px;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  /* identical to box height, or 42px */
  color: #ffffff;
}

.form-questions .wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 47.45%, #15466f 94.26%);
  padding: 83px 100px;
}

.intro-blog {
  background: url("../img/blog-bg.svg") no-repeat center center;
  background-size: cover;
}

.intro-blog .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 234px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.announcements {
  padding: 100px 0px;
}

.announcements .pag {
  margin: 40px 0px 0px 0px;
}

.announcements .pag li:hover, .announcements .pag li.active {
  background: linear-gradient(90.71deg, #0c1923 7.27%, #15466f 97.55%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.announcements .pag a {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height, or 117% */
  /* text on white */
  color: #64717b;
}

.announcements .pag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.announcements .img {
  position: relative;
  max-height: 200px;
}

.announcements .img::before {
  content: "";
  position: absolute;
  right: 13px;
  top: 13px;
  width: 75px;
  height: 11px;
  background: url("../img/logo-VL.svg") no-repeat;
}

.announcements .img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.announcements .page-nav {
  text-align: right;
  margin: 0px 0px 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.announcements .page-nav span {
  display: inline-block;
  margin: 0px 20px;
}

.announcements .page-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.announcements .row {
  border-top: 1px solid #bfc7ce;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0px 0px 0px;
}

.announcements .row .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.announcements .text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.announcements .text p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-clamp: 6;
  box-orient: vertical;
}

.announcements h3 {
  margin: 0px 0px 20px 0px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 30px */
  color: #0c1923;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.announcements .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  height: 450px;
}

.announcements .item {
  border: 1px solid #bfc7ce;
  width: 360px;
  height: 648px;
  margin: 0px 0px 20px 0px;
}

.announcements .item:hover {
  background: #f2f7fc;
}

.announcements .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}

.announcements .tags {
  margin: 0px 0px 60px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.announcements .tags a {
  font-weight: 500;
  font-size: 22px;
  line-height: 150%;
  /* identical to box height, or 33px */
  text-align: center;
  /* dark */
  color: #0c1923;
  display: block;
  padding: 10px 25px;
  border: 1px solid #bfc7ce;
}

.announcements .tags a.active, .announcements .tags a:hover {
  color: #fff;
  background: linear-gradient(90.71deg, #15466f 7.27%, #3387ca 97.55%);
}

.announcements .title {
  margin: 0px 0px 48px 0px;
  font-size: 18px;
}

.announcements a {
  text-decoration: none;
}

.blog-article {
  padding: 60px 0px;
}

.blog-article .content li {
  margin-left: 20px;
  list-style-type: disc;
}

.blog-article .content p {
  margin: 0px 0px 30px 0px;
}

.blog-article .content h3 {
  margin: 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  /* dark */
  color: #0c1923;
}

.blog-article .content h2 {
  margin: 30px 0px 30px 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  /* dark */
  color: #0c1923;
}

.blog-article .table-of-contents {
  min-width: 360px;
}

.blog-article .table-of-contents span {
  margin: 0px 0px 30px 0px;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  /* dark */
  color: #0c1923;
}

.blog-article .table-of-contents li {
  margin: 0px 0px 20px 0px;
}

.blog-article .table-of-contents li a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  font-weight: 600;
  color: #0871c7;
}

.blog-article .wrapper {
  margin: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.blog-article .img {
  position: relative;
}

.blog-article .img::before {
  content: "";
  position: absolute;
  right: 43px;
  top: 43px;
  width: 243px;
  height: 35px;
  background: url("../img/logo-VL.svg") no-repeat;
}

.blog-article .img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 644px;
}

.blog-article .row {
  margin: 0px 0px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 68px;
}

.blog-article .row .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-article .bread-crumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.blog-article .bread-crumbs ul a {
  display: block;
}

.blog-article h1 {
  margin: 30px 0px 60px 0px;
  font-size: 44px;
}
