@import "_nullstyle";
@import url("../font/Montserrat-VariableFont_wght.ttf");
@import url("../font/Montserrat-Italic-VariableFont_wght.ttf");

body {
   font-family: "SF Pro Display", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 150%;
   color: #64717b;
}
.container {
   max-width: 1160px;
   margin: 0px auto;
}
