/404.php
/archive.php
/comments.php
/footer.php
/functions.php
/header.php
/imgs
/inc
/index.php
/languages
/page.php
/README.md
/readme.txt
/screenshot.png
/search.php
/sidebar.php
/single.php
/style.css
/webfonts